Simulation/nodeRed_twoDevice_flow.json
[{"id":"c81d3315.70adc8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2b5aa7c5.34f4","type":"udp in","z":"c81d3315.70adc8","name":"furnace0","iface":"","port":"2001","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":140,"y":220,"wires":[["98ec6cc6.4aed78","1040d630.cd5db2"]]},{"id":"3aa4cc6d.31217c","type":"udp out","z":"c81d3315.70adc8","name":"furnace1","addr":"localhost","iface":"","port":"2000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":360,"y":260,"wires":[]},{"id":"b43facc6.05da","type":"udp in","z":"c81d3315.70adc8","name":"thermostat0","iface":"","port":"2003","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":130,"y":260,"wires":[["3aa4cc6d.31217c","98ec6cc6.4aed78","1040d630.cd5db2"]]},{"id":"98ec6cc6.4aed78","type":"debug","z":"c81d3315.70adc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":320,"wires":[]},{"id":"1040d630.cd5db2","type":"udp out","z":"c81d3315.70adc8","name":"listener","addr":"","iface":"","port":"2004","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":360,"y":180,"wires":[]}]